* {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}


/* Header */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

.emblem {
    width: 70px;
}

.main-header__phone-number {
    padding: 15px 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    border: 4px solid #EC7100;
    border-radius: 40px;
}

.main-header__phone-number:hover {
    text-decoration: underline;
}


/* Page block */

.page-section {
    max-width: 640px;
    margin-bottom: 45px;
}

.page-title {
    margin-bottom: 25px;
    font-size: 28px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-size: 18px;
    list-style: none;
}

.equipment-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 15px;
    margin: 0;
}

.equipment-list li {
    border-bottom: 3px dashed #EC7100;
    line-height: 1.7em;
}

.equipment-list li:hover {
    border-color: #000000;
}

.equipment-list li:not(:last-child) {
    margin-bottom: 5px;
}


/* Footer */

.postscript {
    font-size: 16px;
    color: #9C9C9C;
}


@media (min-width: 530px) {
    /* Header */

    .main-header {
        margin-bottom: 60px;
    }

    .emblem {
        width: 90px;
    }

    .main-header__phone-number {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 24px;
    }

    .page-title {
        margin-bottom: 28px;
        font-size: 34px;
    }

    .advantages-list {
        font-size: 24px;
    }


    /* Footer */

    .postscript {
        font-size: 20px;
    }
}


@media (min-width: 768px) {
    .container {
        padding-left: calc(50% - 768px / 2 + 20px);
        padding-right: calc(50% - 768px / 2 + 20px);
    }


    /* Header */

    .main-header {
        margin-bottom: 80px;
    }

    .emblem {
        width: 120px;
    }

    .main-header__phone-number {
        font-size: 28px;
    }


    /* Page block */

    .page-section {
        margin-bottom: 65px;
    }

    .page-title {
        margin-bottom: 35px;
        font-size: 48px;
    }

    .advantages-list {
        font-size: 24px;
    }
}